/* =========================================== */
/* Form */
/* =========================================== */


/* Base -------------------------------------- */
body {
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  font-family: sans-serif;
  min-height: 100vh;
  padding: 48px 0;
}

.form {
  border: 1px solid #dadce0;
  border-radius: 8px;
  padding: 48px 40px 40px 40px;
  width: 450px;

  margin-bottom: 24px;
}

.form__logo {
  margin-bottom: 16px;
}

.form__title {
  margin-bottom: 24px;
}

.form__input {
  border: 1px solid #dadce0;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  height: 34px;
  margin-bottom: 24px;
  outline: none;
  padding: 0px 12px;
  width: 100%;
}

.form__input:focus {
  border: 2px solid #1966ca;
  padding: 0px 11px;
}

.form__submit {
  border: none;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  font-size: 14px;
  height: 36px;
  padding: 0 24px;
  transition: background-color 100ms;
}

.form__submit--blue {
  background-color: #1a73e8;
  color: #fff;
}

.form__submit--blue:hover {
  background-color: #1c7eff;
}

.form__submit--blue:active {
  background-color: #1966ca;
}

.form__submit--red {
  background-color: #e81a1a;
  color: #fff;
}

.form__submit--red:hover {
  background-color: #ff1d1d;
}

.form__submit--red:active {
  background-color: #d31919;
}
